// Ask windows to not draw decorations
prefer-no-csd

// Speed up animations slightly
// 'slowdown' is a scaling value,
// so values less than 1 actually speed animations up
animations {
    slowdown 0.75
}

// set up window rules for simple floating windows
window-rule {
    open-floating true
    match app-id="discord"
    match app-id="org.gnome.Calculator"
    match app-id="firefox" title="Picture-in-Picture"
}

// Make windows with no title float
// this happens with vscode when dragging/dropping items in xwayland-satellite
window-rule {
    match title="^$"
    open-floating true
    focus-ring {
        off
    }
}

// Force all window corners to be rounded
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// Make top and overlay layers use the regular blur (if enabled),
// while bottom and background layers keep using the efficient xray blur.
layer-rule {
    match layer="top"
    match layer="overlay"

    background-effect {
        xray false
    }
}
