/* --- Global Styles --- */
* {
    font-family: 'SF Pro Text', 'Inter', 'Segoe UI, NotoSans Nerd Font', sans-serif;
    font-size: 13px;
    min-height: 0;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

/* --- Waybar Container --- */
#waybar {
    background: transparent;
    color: #c6d0f5;
    margin: 0px;
    font-weight: 500;
}

/* --- Center Module (Individual, Fully Rounded Block - With Simple Hover) --- */
#clock {
    background-color: #1a1b26;
    padding: 0.3rem 0.7rem;
    margin: 8px 0px;
    border-radius: 10px;
    /* This module is always rounded */
    box-shadow: 0 1px 3px rgba(153, 209, 219, 0.2);
    min-width: 0;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* --- Right Modules (Single, Seamless Bar ) --- */
#bluetooth,
#pulseaudio,
#backlight,
#network,
#custom-lock,
#battery {
    background-color: #1a1b26;
    padding: 0.3rem 0.7rem;
    margin: 8px 0px;
    border-radius: 0;
    box-shadow: none;
    min-width: 0;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#custom-lock:hover,
#battery:hover {
    background-color: rgb(41, 42, 53);
}

#bluetooth {
    margin-left: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#battery {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 7px;
}

#custom-uptime {
    color: #babbf1;
}

#cpu {
    color: #c6d0f5;
}

#clock {
    color: #99d1db;
    font-weight: 500;
}

#pulseaudio {
    color: #c6d0f5;
}

#backlight {
    color: #c6d0f5;
}

#network {
    color: #c6d0f5;
}

#network.disconnected {
    color: #e78284;
}

#custom-lock {
    color: #babbf1;
}

#bluetooth {
    color: #888888;
    font-size: 16px;
}

#bluetooth.on {
    color: #2196f3;
}

#bluetooth.connected {
    color: #99d1db;
}

#battery {
    color: #99d1db;
    ;
}

#battery.charging {
    color: #a6d189;
}

#battery.warning:not(.charging) {
    color: #e78284;
}

/* --- Tooltip Styles --- */
tooltip {
    background-color: #1a1b26;
    color: #dddddd;
    padding: 5px 12px;
    margin: 5px 0px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}
